<!DOCTYPE html>
<html>
<head>
	<title>Helix Park</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='helix.css') }}">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<div class ="menu row">
		<div class = "col-xs-4">
			<img src="{{ url_for('static', filename='logo.png') }}" alt = "logo">
		</div>
		<div class="col-xs-4 social">
			<img src="{{ url_for('static', filename='twitter.png') }}" height="40px" width="40px" alt="twitter">
			<img src="{{ url_for('static', filename='facebook.gif') }}" height="32px" width="32px" alt="facebook">
		</div>		
	</div>
</head>

<body>
	<div class = "row">
		<div class= "col-xs-6 routeOne">
			<a href="{{ url_for('static', filename='route1.html') }}" class="button">Visit the Kelpies</a>
		</div>
		<div class="col-xs-6 routeTwo">
			<a href="{{ url_for('static', filename='route2.html') }}" class = "button">Find Something New</a>
		</div>
	</div>
	<div class = "row achievements">
		<div class="col-xs-4">
			<img src="{{ url_for('static', filename='Wall sticker high.png') }}" class="imgBadge" alt="wall badge">
		</div>
		<div class="col-xs-4">
			<img src="{{ url_for('static', filename='route sticker high.png') }}" class="imgBadge" alt="route badge">
		</div>
		<div class="col-xs-4">
			<img src="{{ url_for('static', filename='adventure sticker high.jpg') }}" class="imgBadge" alt="adventure badge">
		</div>
	</div>
</body>
<footer>
	<p><small><a href="http://www.thehelix.co.uk">Visit our Website</a></small></p>
</footer>
</html>
