<!DOCTYPE html>
<html>
<head>
	<title>Helix Park: Map</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='helix.css') }}">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<div class ="menu row">
		<div class = "col-md-4">
			<img src="logo.png" alt = "logo">
		</div>
		<div class="col-md-4 social">
			<img src="twitter.png" height="40px" width="40px" alt="twitter">
			<img src="facebook.gif" height="32px" width="32px" alt="facebook">
		</div>		
	</div>
</head>
<body>
	<div class="routeTwoMap">
		<h4 class="message">Thanks for choosing The Main Canal Loop! Get going to your first signpost, {{name}}!</h4> 
	</div>
</body>
<footer>
	<p><small><a href="http://www.thehelix.co.uk">Visit our Website</a></small></p>
</footer>
</html>