<!DOCTYPE html>
<html>
<head>
	<title>Helix Park: The Vistor</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'helix.css')}}">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  		<link rel="stylesheet" href="/resources/demos/style.css">
  	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  	<script>
  		$( function() {
    	$( "#tabs" ).tabs();
  		} );
  	</script>
	<div class ="menu row">
		<div class = "col-xs-4">
			<a href="home.html"><img src="{{url_for('static', filename= 'logo.png')}}" alt = "logo"></a>
		</div>		
	</div>
</head>
<body>
<div class="row">
<div class="col-md-4 social">
	<a href="https://twitter.com/intent/tweet?button_hashtag=NewSticker" class="twitter-hashtag-button" data-text="I just earned a new sticker in the Helix Park! Check out the website today! http://www.helixwebsite.com" data-lang="en" data-show-count="false"><img src="/exp/twitter.png" height="40px" width="40px" alt="twitter"></a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<div id="tabs">
 <ul>
    <li><a href="#tabs-1">Achievements</a></li>
    <li><a href="#tabs-2">History</a></li>
    <li><a href="#tabs-3">Wildlife</a></li>
	 
</ul>
	<div id="tabs-1">
</div>
<div class="row justAchived">
	<div class="col-xs-12">
		<img src="{{ url_for('static', filename='Wall sticker high.png') }}" class="imgBadge" alt="badge">
	</div>	
</div>

<div class = "row recommenedAchive">
	<div class="col-xs-4">
		<img src="{{ url_for('static', filename='kelpie sticker high.png') }}" class="imgBadge" alt="badge">
	</div>
	<div class="col-xs-4">
		<img src="{{ url_for('static', filename='route sticker high.png') }}" class="imgBadge" alt="route badge">
	</div>
	<div class="col-xs-4">
		<img src="{{ url_for('static', filename='adventure sticker high.jpg') }}" class="imgBadge" alt="adventure badge">
	</div>
</div>
	</div>
	<div id="tabs-3">
	    <p></p>
	</div>
	<div id="tabs-2">
	    <p></p>
	</div>
</div>

</body>
</html>
